//space 
$space-small: 10px;
$space-base: 15px;
$space-medium: 20px;
$space-large: 30px;
$space-micro: 4px;

//font-size
$font-micro: 10px;
$font-small: 14px;
$font-base: 16px;
$font-medium: 20px;
$font-large:40px;

//color

$color-red: #ff5353;
$color-gray: #888888;
$color-dgray: #565656;

// base style


