header {
  background-color: $blue1;
  padding: $medium 0;
}

.logo {
  
  a {
    color: #fff;
  }
  
  span {
    color: $blue2;
    padding-left: $micro;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
// nav-btn 눌렀을 때 동작
#nav-btn {
  display: none;

  &:checked + .nav-btn {
    background-color: transparent;
    transform: translateX(-300px);
  }

  &:checked + .nav-btn::before {
    transform: translateY(-12px) rotate(45deg) ;
  }
  &:checked + .nav-btn::after {
    transform: translateY(12px) rotate(-45deg) ;
  }

  &:checked ~ .nav-bar {
    transform: translateX(0);
  }
  
  &:checked ~ .dim {
    display: block;
  }
}

// nav-btn 메뉴 버튼-- start
.nav-btn {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 2px;
  padding: $small 0;
  background-color: #fff;
  background-clip:content-box;
  box-sizing: content-box;
  cursor: pointer;
  transition: .4s ease-in-out;
  z-index: 10;

  &:hover::before {
    transform: translateY(-3px);
  }

  &:hover::after {
    transform: translateY(3px);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transition: .4s ease-in-out;
  }

  &::before {
    top: 100%;
  }

  &::after {
    bottom: 100%;
  }
}
.dim {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
// 네비게이션 메뉴
.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  transform: translateX(300px);
  background-color: #fff;
  transition: .4s ease-in-out;
  z-index: 10;
}

