// color
$blue1: #6998ab;
$blue2: #1a374d;
$gray1: #f3f5f6;
$gray2: #cccccc;
$gray3: #818181; 
$black: #212529;

// space

$micro: 4px;
$small: 10px;
$base: 15px;
$medium: 20px;
$large: 30px; 

//font 

$ft-micro: 12px;
$ft-small: 14px;
$ft-base: 16px;
$ft-medium: 20px;
$ft-large: 32px;
$ft-grand: 45px;

